.header-container {
    background-color: #231b14;
    background-image: url("../../../assets/sementes-de-cafe-scaled-i.jpg");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80vw;
    height: min-content;
    height: 340px;
}

.header-box-container {
    // position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Ajuste o último valor (0.5) para controlar a opacidade */
    // pointer-events: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: first baseline;
}

label {
    margin-left: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: #231b14 0.1em 0.1em 0.2em;
}

label.header-title {
    font-size: 4rem;
    margin-bottom: 0;
    line-height: 1;
}
