.mouse-efect:hover{
    top:-4px;box-shadow:0 4px 4px #999;
   transition: all .2s ease-in-out;
}

.my-card {
    width: 18rem;
    margin: 1rem;
    padding: 1rem;
}

.favorito {
    padding-bottom: 2.5%;
}

.img_card-coffee {
    cursor:pointer;
}
