.card-title {
    color: #231b14;
    padding: 5% 0% 1% 1%;
    text-shadow: #231b14 0.05em 0.05em 0.1em
}

.shadow-left {
    box-shadow: -5px 0px 5px -5px #231b14; /* Valores personalizados para a sombra à esquerda */
}

.shadow-bottom {
    box-shadow: 0px 4px 2px -2px #231b14; /* Adiciona sombra somente na parte inferior */
}